Paranormal/web/WEB-INF/PhenomenaXSD.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="paranorm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="banner">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="main_title"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nav">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="home"/>
              <xs:element type="xs:string" name="houses"/>
              <xs:element type="xs:string" name="entities"/>
              <xs:element type="xs:string" name="phenomena"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="phenomena" maxOccurs="1" minOccurs="10">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element name="info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="place"/>
                    <xs:element type="xs:string" name="history"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>